<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>vudejs demo</title>
</head>

<body>
    <script src="../vue.js"></script>
    <div id="div">
        <p>计数：{{total}}</p>
        <btn-counter @incrementp="incrementTotal" :count="1"></btn-counter>
        <btn-counter @incrementp="incrementTotal" :count="3"></btn-counter>
        <btn-counter @incrementp="incrementTotal" :count="5"></btn-counter>
    </div>  
    <script>

    Vue.component('btn-counter', {
        props: {
            'count': {
                type: Number,
                required: true
            }
        },
        template: '<button @click="increment">点我 {{counter}}</button>',
        data: function(){
            return {
                counter: 0
            }
        },
        methods: {
            increment: function(){
                this.counter += 1;
                this.$emit('incrementp');
            }
        }
    });

    var vue = new Vue({
        el: '#div',
        data: {
            total: 0
        },
        methods: {
            incrementTotal: function(){
                this.total += 1;
            }
        }
    });



    // var vdiv = {
    //     props: ['myMessage'],
    //     template: '<p>我不知道这会出啥：{{myMessage}}</p>'
    // }

    // new Vue({
    //     el: '#div',
    //     components: {
    //         'vdiv': vdiv 
    //     }
    // });



    // Vue.component('v-header', {
    //     template: '<p>我是一个全局组件</p>'
    // });

    // var vue = new Vue();
    // vue.$mount('#div');
    // 
    
    // var child = {
    //     template: '<p>我是一个局部组件</p>'
    // };

    // var vue = new Vue({
    //     components: {
    //         'v-header': child
    //     }
    // });

    // vue.$mount('#div');

    // new Vue({
    //     el: '#div',
    //     template: '<p>我是一个组件！！！{{counter}}</p>',
    //     data: function(){
    //         return {
    //             counter: 0
    //         }
    //     }
    // });


    
    </script>
</body>

</html>
